@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full;
  }

  div#root {
    @apply h-full flex flex-col;
  }

  .ir {
    font: 0/0 "a";
    text-shadow: none;
    color: transparent;
  }

  .page-container {
    @apply container mx-auto px-12;
  }

  .animated-link {
    @apply fill-[#0F0F0F] dark:fill-white transform hover:-translate-y-1 transition duration-300;
  }
}
